apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: go-ylvtkfkg
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/tsscui/go-ylvtkfkg:69d60dc2749c4a6ff2f7aae004ba3b1f7682386b@sha256:787f9a547e6eb2d8bcccc2176a53b242105804ef10a2d61cac9bddeac6fe8a9b
        name: container-image  
